.habilidades {
  justify-content: center;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 2px solid #ddd;

}


.logo p {
  margin-top: 10px;
  font-weight: bold;
}
.tabla-auto {
  display: flex;
  justify-content: center;
}
.conocimientos-auto {
  list-style: inside;
  text-align: left;
  padding-left: 0;
}
.tabla-titulos {
  text-align: center;
}
.titulos li {
  list-style: none;
}
.centro {
  color: #949393;
}

.tabla-experiencia {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 80px;
}
.experiencia {
  text-align: left;
  padding-left: 0;
}

.experiencia .encabezado {
  list-style: none;
}
.encabezado{
  margin-bottom: 1rem;
}
.encabezado li {
  list-style: inside;
}
.trabajo {
  text-shadow: 0 5px 10px rgb(0, 0, 0);
  text-decoration: underline;
}
h3,
h4 {
  text-shadow: 0 5px 10px rgb(0, 0, 0);
}
.cuadrado {
  border-top: 1px solid #949393;
  border-bottom: 1px solid #949393;
  border-radius: 20px;
  display: flex;
  width: 30rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
}

.cuadrado-grande {
  border-top: 1px solid #949393;
  border-bottom: 1px solid #949393;
  border-radius: 20px;
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
