.home {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.foto {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  /* animation: animate-all 1s ease-in-out; */
}

.foto img {
  /* height: 300px; */
  width: 280px;
  border-radius: 50%;
  box-sizing: border-box;

  -webkit-box-shadow: 10px 10px 24px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -4px rgba(0, 0, 0, 0.75);
}
.boton{
  margin:  20px 0;
}
.cv-button {
  background: rgb(34, 193, 195);
  /* background: linear-gradient(313deg, rgba(34,193,195,1) 0%, rgba(17,122,126,1) 14%, rgba(8,86,91,1) 53%, rgba(0,52,58,1) 75%); */
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-radius: "10px";
}
.cv-button:hover {
  background: rgb(0, 247, 255);
  /* background: linear-gradient(313deg, rgba(17,122,126,1) 0%, rgba(8,86,91,1) 14%, rgba(0,52,58,1) 53%, rgba(0,0,0,1) 75%); */
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  text-decoration: none;
  border-radius: "10px";
}